
<link href="~/ResultView/Result.css" rel="stylesheet" />
<link href="~/ResultView/Result_View_mark.css" rel="stylesheet" />

<!DOCTYPE html>
<html>
<head>
    <title>MARKS SHEET USING HTML TABLES</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="html, css, html tables, table">
    <meta name="Description" content="html table">
    <!-- add icon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link href="mark.css" rel="stylesheet type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <h2 style="text-align:center;">Results Sheet</h2>
    <h2 style="text-align:center;">SRM College</h2>
    <p style="font-weight:bold;" align="center">
        Student First Name:
        <style ="text-align:center;"></style>
            Amol<style="text-align:center" ></style> Patil </p >



      </body >
 </html>
